.home2 {
  background: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=cold-vehicles-water-531880.jpg&fm=jpg")
    no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
